$primary_blue: #2A6CEA;
$primary_hover_blue: #397DFF;
$primary_disabled_blue: #ABCAE6;
$dangerous: #F13636;
$succsess: #25CD82;
$black: #191C1F;
$dark_gray: #5E646A;
$gray: #83898F;
$mid_gray: #C2C8CD;
$light_gray: #ECEFF2;
$extralight_gray: #F6F8FA;
$white: #fff;